.one,.two,.three,.four {
    width: 140px;
    height: 140px;
    margin: 5px;
    background: #aaa;
    border: #000 1px solid;
    float: right;
    font-size: 17px;
    font-family: Verdana;
}
div.two {
    display: none;
}
.btn1 {
    width: 50px;
    height: 50px;
}
#SubCategoryBox{
    clear: both;
}